
body{
	padding: 0;
	margin: 0;
	font-family: arial, sans-serif;
	background: linear-gradient( 45deg, #960057 2px, #670000 2px, #670000 13px, #960057 13px, #960057 16px, #670000 16px, #670000 27px, #960057 27px);
	background-size: 20px 20px;
}
.person{
	width: 360px;
	overflow: hidden;
	float: left;
	margin: 1em;
	background-color: #FFF;
	padding: 1em;
	box-shadow: 0 12px 2px -6px rgba(0,0,0,0.5);
}

.person h2{
	font-family: 'Pacifico', cursive;
	margin: 0 0 0.5em;
	font-weight: normal;
	color: #444;
}

.person .imgWrap{
	height: 206px;
	margin-bottom: 5px;
}

.person meter{
	width: 100%;
}

.sad, .happy{
	display: none;
}	

.actionsWrap{
	position: fixed;
	height: 50px;
	width: 100%;
	bottom: 0;
	padding: 10px;
	background: linear-gradient( 45deg, #960057 2px, #670000 3px, #670000 17px, #960057 17px, #960057 21px, #670000 21px, #670000 35px, #960057 35px);
	background-size: 26px 26px;
	box-shadow: 0 -1px 3px 3px rgba(0,0,0,0.5),
				inset 0 1px 1px rgba(255,255,255,0.2);
}

.actionsWrap button{
	float: left;
	padding: 1em 2em;
	margin-right: 10px;
	border-radius: 4px;
	cursor: pointer;
	border: 1px solid #888;
}

meter::-webkit-meter-bar {
	
	background: linear-gradient( to bottom, #DDD 0%, #EEE 100%);
	box-shadow: 0 5px 5px -5px #333 inset;
}
